<style>
  .study{
    display: block;height: 480px;overflow-y: scroll;background-color: white;padding:1%;
    }
  .card-header{
    background-color: white;
    color:black;
  }
  .table-bordered{
    color:black;
  }
  th,td{
    color:black;
  }
  .transactions{
    background-color: white;
  }
</style>
  
  
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-header">Cashout Transaction Details</div>
        <div class="table-responsive study">
          <table class="align-middle mb-0 table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center">Study Name</th>
                <th class="text-center">Order Id</th>
                <th class="text-center">Transaction Id</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Transaction Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transactions of transaction; let i=index;">
                <td class="text-center">{{ transactions?.study.name }}</td>
                <td class="text-center">{{ transactions?.transaction.order_id }}</td>
                <td class="text-center">{{ transactions?.transaction.transaction_id }}</td>
                <td class="text-center">{{ transactions?.transaction.amount }}</td>
                <td class="text-center">{{ transactions?.transaction.created_at | date: 'mediumDate' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


    <!-- <div class="row">
      <div class="col-md-12">
        <div class="main-card mb-3 card">
          <div class="card-header">Cashout Transactions</div>
          <div class="table-responsive study">
            <table class="align-middle mb-0 table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">Order Id</th>
                  <th class="text-center">Transaction Id</th>
                  <th class="text-center">Amount</th>
                  <th class="text-center">Transaction Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transactions of transaction; let i=index;">
                  <td class="text-center">{{ transactions?.transaction.order_id }}</td>
                  <td class="text-center">{{ transactions?.transaction.transaction_id }}</td>
                  <td class="text-center">{{ transactions?.transaction.amount }}</td>
                  <td class="text-center">{{ transactions?.transaction.created_at | date: 'mediumDate' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="card main-card mb-3">
          <div class="card-header">
            Cashout Transaction : {{total_payment}}
          </div>
          <div class="card-body transactions">
            <apx-chart
              [series]="[
                {
                  name: 'Monthly Amount',
                  data: monthly_payment
                }
              ]"
              [chart]="{
                height: '300',
                type: 'bar'
              }"
              [stroke]="{
                show: true,
                width: 2,
                colors: ['transparent']
              }"
              [plotOptions]="{
                bar: {
                  horizontal: false,
                  endingShape: 'rounded',
                  columnWidth: '10%'
                }
              }"
    
              [dataLabels]="{
                enabled: false
              }"
    
              [labels]="['01/01/2003', '02/01/2003', '03/01/2003', '04/01/2003', '05/01/2003', '06/01/2003', '07/01/2003', '08/01/2003', '09/01/2003', '10/01/2003', '11/01/2003']"
    
              [xaxis]="{
                categories: month
              }"
              [yaxis]="{
                title: {
                  text: '&#1583;.&#1573; (dirham)'
                }
              }"
    
              [fill]="{
                opacity: 1
              }"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  