<style>
  .card {
    margin: 0 auto;width: 530px;
  }
  .forgotpassword{
    float:right;
  }
  .register{
    float:right;
  }
</style>

<div class="h-150 bg-premium-dark">
    <div class="d-flex h-100 justify-content-center align-items-center">
      <div class="mx-auto app-login-box col-md-8">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabContent>
              <div class="card main-card mb-3 row">
                <div class="card-body col-md-12">
                  <h2 class="text-center">Login</h2>
                  <form [formGroup]="this.formGroup" class="needs-validation" novalidate
                        (validSubmit)="this.handleValidSubmit()">
                    
                    <div class="form-row">
                        <div class="col-md-12 mb-3 form-group">
                          <label for="validationCustomUsername">Email</label>
                          <input formControlName="email" type="email" class="form-control" id="validationCustomUsername"
                              placeholder="Email" aria-describedby="inputGroupPrepend">
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3 form-group">
                        <label for="validationCustom01">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="validationCustom01"
                              placeholder="password" value="Mark"
                              required>
                      </div>
                    </div>
                    <button class="btn btn-success ml-2" type="submit">Sign In</button>
                    <a class="text-primary forgotpassword" routerLink="/">Forgot your Password?</a>
                  </form>
                  
                  <a class="text-primary register" routerLink="/pages/signup">Need an account?</a>
        
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
</div>
        
        