<style>
  .card {
    margin: 0 auto;width: 330px;
  }
  .forgotpassword{
    float:right;
  }
  .register{
    float:right;
  }
  .forgot{ 
    background-color: #1f4988;  
  }
  .submitbutton{
    background-color: #1f4988;border: #1f4988;color:white;
  }
</style>

<div class="h-150">
    <div class="d-flex h-100 justify-content-center align-items-center forgot">
      <div class="mx-auto app-login-box col-md-12 login_page_container">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabContent>
              <div class="card main-card mb-3 row bg-white">
                <div class="card-body col-md-12">
                  <h2 class="text-center">Update Password</h2>
                  <form [formGroup]="this.updatepassword" class="needs-validation" novalidate
                        (validSubmit)="this.handleValidSubmit()">
                    <div class="form-row">
                      <div class="col-md-12 mb-3 form-group">
                        <label for="validationCustomUsername">New Password</label>
                        <input formControlName="password" type="password" class="form-control password1" id="updatepassword"
                                placeholder="New Password" (change)="updatePassword1();" required>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3 form-group">
                        <label for="validationCustomUsername">Confirm Password</label>
                        <input formControlName="confirmpassword" type="password" (keyup)="updateConfirmPassword1();" class="form-control password2" 
                               id="updateconfirmpassword" placeholder="Confirm Password" required>
                      </div>
                    </div>
                    <button class="btn ml-2 submitbutton" type="submit" [disabled]="passwordmatch === false">Update</button>
                  </form>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
</div>
        
        