<style>
  .backbutton{
    margin:auto;font-size: 14px;margin-bottom:1%;
  }
  .table-responsive{
    padding:1%;
  }
</style>

<button class="btn btn-lg bg-white backbutton" title="Back" routerLink="/adminactivestudydetails/{{study_id}}"><i class="fa fa-arrow-left"></i></button>
<div class="main-card mb-3 card termscondition">
  <div class="card-header">Submitted Study Details
  </div>
  <div class="table-responsive">
    <table class="align-middle mb-0 table table-bordered table-striped table-hover activestudy">
      <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Country of Residency</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let submitted of submitted_candidate_list; let i=index;">
        <td class="text-center">{{ submitted?.user.id }}</td>
        <td class="text-center">{{ submitted?.user.first_name }} {{ submitted?.user.last_name }}</td>
        <td class="text-center">{{ submitted?.user.email }}</td>
        <td class="text-center">{{ submitted?.user.country }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
