<style>
  .addcate{
    margin:3%;
  }
  .tablequestion {
    display: block;overflow-y:scroll;padding:1%;
  }
  table{
    width:100%;
  }
  a{
    text-decoration: none;
  }
  .pagelist{
    background-color: #1f4988;border: #1f4988;color:white;
  }
  .actionbutton{
    width:35%;
  }
  .deletebutton{
    margin-left:2%;
  }
  .addpage{
    background-color: #1f4988;border: #1f4988;color:white;float:right;
  }
  .submitbutton{
    background-color: #0a2956;border: #0a2956;color:white;
  }
</style>

  <div class="main-card mb-3 card">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card-header">Content List
        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn pagelist" (click)="openLarge(addcontentdetails)">Add Content</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive tablequestion">
        <table class="align-middle mb-0 table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">Image</th>
              <th class="text-center">Content Type</th>
              <th class="text-center">Heading</th>
              <th class="text-center">Content</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of categories; let i=index;">
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center actionbutton">
              <button class="btn-icon btn-icon-only btn btn-outline-primary" title="Edit" (click)="openLarge(contentdetail)"><i class="lnr-pencil"></i></button>
              <span><button class="btn-icon btn-icon-only btn btn-outline-danger deletebutton" title="Delete" (click)="openLarge(pagecontent)"><i
                class="lnr-trash"></i></button></span>
            </td>

            <!-- delete modal -->
              <ng-template #pagecontent let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Page Content</h5>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button> 
                </div>
                  <div class="modal-body"> 
                    <div class="col-md-12 mb-3 form-group">
                      <h4>Sure! You want to delete page content?</h4>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn submitbutton" (click)="c('Close click')">No</button>
                    <button type="submit" class="btn submitbutton" (click)="deleteCotentDetails(category.question_category.id);">Yes</button>
                  </div>
              </ng-template>
          

            <!-- Edit page -->
            
              <ng-template #contentdetail let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Content</h5>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form [formGroup]="this.editcontentdetails" class="needs-validation" novalidate
                        (validSubmit)="this.editContentDetails(category.question_category.id)">
                  <div class="modal-body">
                    <div class="col-md-12 mb-3 form-group">
                      <input *ngIf="content" [(ngModel)]="content.page.title" formControlName="title" type="text" class="form-control col-md-12 col-lg-12 col-sm-12" id="validationCustom01">
                    </div>
                    <div class="col-md-12 mb-3 form-group">
                      <angular-editor *ngIf="content" [(ngModel)]="content.page.content" formControlName="content" [config]="config"></angular-editor>
                      <div class="divider" [innerHTML]="content.page.content"></div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn pagelist" (click)="c('Close click')">Close</button>
                    <button type="submit" class="btn pagelist">Save changes</button>
                  </div>
                </form>
              </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>
  

  <!-- ADD PAGE MODAL -->
  
    <ng-template #addcontentdetails let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title">Add Content</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation addcate" [formGroup]="this.addcontent" (ngSubmit)="addContentDetails()" novalidate>
          <div class="form-row">
            <div class="col-md-12 mb-3 form-group">
              <label for="validationCustomUsername">Content Type</label>
              <input formControlName="content_type" type="text" class="form-control col-md-12 col-lg-12 col-sm-12" id="validationCustom01">
            </div>
            <div class="col-md-12 mb-3 form-group">
              <label for="validationCustomUsername">Title</label>
              <input formControlName="title" type="text" class="form-control col-md-12 col-lg-12 col-sm-12" id="validationCustom01">
            </div>
            <label for="validationCustomUsername">Content</label>
            <angular-editor formControlName="content" [config]="config"></angular-editor>
          </div>
          <button class="btn ml-2 addpage" [disabled]="!addcontent.valid" type="submit">Add</button>
        </form>
    </ng-template>
  
  