
<style>
  img{
    border-radius: 50%;width:18%;height:20%;
  }
  .envelope{
    text-align: center;font-family: sharp sans,Arial,sans-serif;
  }
  button{
    margin:auto;font-family: sharp sans,Arial,sans-serif;
  }
  h3{
    margin-top:2%;color:black;font-family: sharp sans,Arial,sans-serif;
  }
  .card-header{
    background-color: white;
  }
  .tab-message{
    background-color: white;color: black; margin:auto; font-size:16px;border-right:1px solid gray;font-weight: bold;
    font-family: sharp sans,Arial,sans-serif;
  }
  .tab-message1{
    background-color: white;color: black;margin:auto;font-size:15px;border-right:1px solid gray;font-family: sharp sans,Arial,sans-serif;
  }
  .tab{
    color: black;margin:auto;font-size:15px;font-family: sharp sans,Arial,sans-serif;border-right:1px solid gray;
  }
  .helptab{
    background-color: white;color: black;margin:auto;font-size:15px;font-family: sharp sans,Arial,sans-serif;
  }
  li{
    background-color: white;
  }
  .scroll-area-lg{
    background-color: white;
  }
  .widget-heading{
    color:black;
  }
  .widget-subheading{
    font-family: sharp sans,Arial,sans-serif;
    color:black;
  }
  .card-header-title{
    color:black;
  }
  .mainheading{
    font-weight:bold;
  }
  .aboutmail{
    margin-top:5%;
  }
  .inboxdetails{
    font-size: 15px;
  }
  a{
    text-decoration: none;
  }
  .submitbutton{
    background-color: black;border: black;color:white;
  }
  .modal-header{
    background-color: black;color: white;
  }
  .crossbutton{
    color: white;
  }
</style>


<!-- when inbox is blank -->

<div class="container">
  <div class="row">
    <div class="aboutmail" *ngIf="message == 'no-mail-found'">
      <div class="envelope">
        <img src="assets/images/inbox.png">
      </div>
      <h3 class="text-center">Nothing here.Enjoy that</h3>
    </div>
  </div>
</div>

<!-- when message is in inbox -->

<div class="container">

  <div class="row">
    <div class="col-md-5 col-lg-4 col-xl-4 col-sm-12 col-xs-12" *ngIf="message == 'recieved-mails'">
    <div class="main-card mb-3">
      <div class="card-header">
        <a class="btn btn-lg tab-message1" routerLink="/participantcreatenewmessage">New</a>
        <span><a class="btn btn-lg tab-message" routerLink="/participantinbox">Inbox</a></span>
        <span><a class="btn btn-lg tab" routerLink="/participantsent">Sent</a></span>
        <span><a class="btn btn-lg helptab" routerLink="/participanthelpmessage">Help</a></span>
      </div>
    </div>
  </div>
  <br>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-12" *ngIf="message == 'recieved-mails'">
      <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
            class="header-icon lnr-inbox icon-gradient bg-malibu-beach"> </i>Inbox
          </div>
        </div>
        <div class="scroll-area-lg">
          <perfect-scrollbar [autoPropagation]="true">
            <ul class="todo-list-wrapper list-group list-group-flush">
              <li class="list-group-item" *ngFor="let message of messages; let i=index;">
                <div class="todo-indicator bg-info"></div>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-2">
                    </div>
                    <a routerLink="/participantinboxdetails/{{message.id}}">
                      <div class="widget-content-left">
                        <div class="widget-heading">{{message.subject}}
                        </div>
                        <div class="widget-subheading mainheading"><i>From {{message.sender_id}}</i></div>
                        <div class="widget-subheading"><i>{{message.created_at | date }}  {{message.created_at | date:'HH:mm' }}</i></div>
                      </div>
                    </a>
                    <div class="widget-content-right widget-content-actions">
                      <button class="border-0 btn-transition btn btn-outline-danger" title="Delete">
                        <fa name="trash" class="inboxdetails" (click)="openLarge(participantinbox)"></fa>
                      </button>
                    </div>
                  </div>
                </div>

                <!-- delete modal -->
                  <ng-template #participantinbox let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Message</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true" class="crossbutton">&times;</span>
                      </button> 
                    </div>
                      <div class="modal-body"> 
                        <div class="col-md-12 mb-3 form-group">
                          <h4>Sure! You want to delete message?</h4>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn submitbutton" (click)="c('Close click')">No</button>
                        <button type="submit" class="btn submitbutton" (click)="deleteMail(message.id);">Yes</button>
                      </div>
                  </ng-template>

              </li>
            </ul>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>  
</div>






