<style>
  .accept{
    display: block;overflow-y:scroll;height:370px;padding: 1%;
  }
  .backbutton{
    margin:auto;font-size: 14px;margin-bottom:1%;
  }
</style>

<div class="container">
  <button class="btn btn-lg bg-white backbutton" title="Back" routerLink="/researcheractivestudyDetails/{{study_id}}"><i class="fa fa-arrow-left"></i></button>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="main-card mb-3 card termscondition">
        <div class="card-header">Accepted Users</div>
        <div class="table-responsive accept">
          <table class="align-middle mb-0 table table-bordered table-striped table-hover activestudy">
            <thead>
            <tr>
              <th class="text-center">RW Id</th>
              <th class="text-center">Country of Residency</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of accepted_candidate_list; let i=index;">
              <td class="text-center">{{ user?.research_worker_id }}</td>
              <td class="text-center">{{ user?.country }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="main-card mb-3 card termscondition">
        <div class="card-header">Rejected Users</div>
        <div class="table-responsive accept">
          <table class="align-middle mb-0 table table-bordered table-striped table-hover activestudy">
            <thead>
            <tr>
              <th class="text-center">RW Id</th>
              <th class="text-center">Country of Residency</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of rejected_candidate_list; let i=index;">
              <td class="text-center">{{ user?.research_worker_id }}</td>
              <td class="text-center">{{ user?.country }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
