
<style>

  .forgot{
    background-color: #1f4988;
  }
  h3{
    margin:auto;
    padding:10px;
    text-transform: uppercase;
  }
</style>


<div class="d-flex justify-content-center align-items-center forgot">
  <div class="container">
    <div class="row">
      <h3 class="text-white">Terms & Conditions</h3>
      <div class="col-md-12" *ngFor="let term of terms; let i=index;">
        <div class="main-card mb-3 card">
          <div class="card-header font-weight-bold">Terms & Conditions For {{term.user_type}}</div>
          <div class="card-body" [innerHTML]="term.description"></div>
        </div>
      </div>
    </div>
  </div>
</div>


