<style>
  .submitbutton{
    background-color: #1f4988;border: #1f4988;color:white;
  }
  i{
    background-color: #1488b9;
  }
</style>

<div class="row">
  <div class="col-md-4">
    <div class="mb-3 text-white card-border bg-dark card">
      <div class="card-header"><i class="header-icon lnr-graduation-hat icon-gradient"> </i>Without Shadow
        <div class="btn-actions-pane-right">
          <button class="btn btn-sm submitbutton">Actions</button>
        </div>
      </div>
      <div class="card-body"><p>With supporting text below as a natural lead-in to additional content.</p>
        <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled.</p></div>
      <div class="d-block text-right card-footer">
        <button class="mr-2 text-white btn btn-link btn-sm">No</button>
        <button class="btn btn-lg submitbutton">Yes</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mb-3 text-white card-border bg-dark card">
      <div class="card-header"><i class="header-icon lnr-screen icon-gradient bg-warm-flame"> </i>Without Shadow
        <div class="btn-actions-pane-right">
          <button class="btn btn-sm submitbutton">Actions</button>
        </div>
      </div>
      <div class="card-body"><p>With supporting text below as a natural lead-in to additional content.</p>
        <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled.</p></div>
      <div class="d-block text-right card-footer">
        <button class="mr-2 text-white btn btn-link btn-sm">No</button>
        <button class="btn btn-lg submitbutton">Yes</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mb-3 text-white card-border bg-dark card">
      <div class="card-header"><i class="header-icon lnr-screen icon-gradient bg-warm-flame"> </i>Without Shadow
        <div class="btn-actions-pane-right">
          <button class="btn btn-light btn-sm">Actions</button>
        </div>
      </div>
      <div class="card-body"><p>With supporting text below as a natural lead-in to additional content.</p>
        <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled.</p></div>
      <div class="d-block text-right card-footer">
        <button class="mr-2 text-white btn btn-link btn-sm">No</button>
        <button class="btn btn-lg submitbutton">Yes</button>
      </div>
    </div>
  </div>
</div>
      