
<style>
  button{
    margin-bottom:2%;
  } 
  .confirm{
    float:right;
  }
  .backbutton{
    margin:auto;font-size: 14px;margin-bottom:1%;
  }
  .table-responsive{
    padding:1%;
  }
  .cardpayment{
    height: 92%;
  }
</style>


<div class="container">
  <button class="btn btn-lg bg-white backbutton" title="Back" routerLink="/researchertrackactivestudy">
    <i class="fa fa-arrow-left"></i>
  </button>
  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-header">Study Basic Details
          <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
              <tr>
                <th class="text-left">Completion URL</th>
                <td class="text-right">{{ study?.completionurl }}</td>
              </tr>
              <tr>
                <th class="text-left">Completion Code</th>
                <td class="text-right">{{ study?.completioncode }}</td>
              </tr> 
              <tr>
                <th class="text-left">Study Name</th>
                <div class="text-right">{{ study?.name }}</div>
              </tr>
              <tr>
                <th class="text-left">Study URL</th>
                <div class="text-right">{{ study?.studyurl }}</div>
              </tr>
              <tr>
                <th class="text-left">Estimated Completion Time</th>
                <div class="text-right">{{ study?.estimatetime }} Minutes</div>
              </tr>
              <tr>
                <th class="text-left">Maximum Allowed Time</th>
                <div class="text-right">{{ study?.allowedtime }} Minutes</div>
              </tr>
              <tr>
                <th class="text-left">Maximum Submissions</th>
                <div class="text-right">{{ study?.submission }}</div>
              </tr>
              <tr>
                <th class="text-left">Reward Per Participant</th>
                <div class="text-right">{{ study?.reward }}</div>
              </tr>
            </table>
          </div>
        </div>
        <div class="d-block text-right card-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- study published -->
    
  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-header">Study Details</div>
        <div class="card-body" [innerHTML]="study?.description"></div>
      </div>
    </div>
  </div>

  <div class="row">  
    <div class="col-lg-12">
      <div class="main-card mb-3 card cardpayment">
        <div class="card-body">
          <h5 class="card-title">Payment</h5>
          <div class="table-responsive">
            <table class="mb-0 table table-bordered">
              <tbody>
                <tr>
                  <th scope="row"><b>Number of Participants</b></th>
                  <td>{{ study?.submission }}</td>
                </tr>
                <tr>
                  <th scope="row"><b>Reward per Participant</b></th>
                  <td>{{ study?.reward }}</td>
                </tr>
                <tr>
                  <th scope="row"><b>Amount</b></th>
                  <td>{{ study?.reward * study?.submission }}</td>
                </tr>
                <tr>
                  <th scope="row"><b>Tax</b></th>
                  <td>{{ study?.reward * study?.submission * 0.20 | number: '.2' }}</td>
                </tr>
                <tr>
                  <th scope="row"><b>commission</b></th>
                  <td>{{ study?.reward * study?.submission * 0.10 | number: '.2' }}</td>
                </tr>
                <tr>
                  <th scope="row"><b>Total Amount</b></th>
                  <td>{{ study?.reward * study?.submission * 1.30 | number: '.2' }}</td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
    
 
    
      