
<style>
  h6{
    float:right;margin-right:1%;font-size: 0.88rem;
  }
  .modal-footer{
    margin:auto;
  }
  .forgot{ 
    background-color: #1f4988;  
  }
  .submitbutton{
    background-color: #1f4988;border: #1f4988;color:white;
  }
  .link{
    float:left !important;
  }
  </style>
  
  <div class="height">
    <div class="d-flex h-100 justify-content-center align-items-center forgot">
      <div class="mx-auto col-md-6">
        <div class="modal-dialog w-100">
          <div class="modal-content">
            <div class="modal-header">
              <div class="h5 modal-title">
                Forgot your Password
              </div>
            </div>
            <div class="modal-body">
              <div>
                <form [formGroup]="this.forgotPassword" class="needs-validation" novalidate
                (validSubmit)="this.handleValidSubmit()">
                  <div  class="row">
                    <div class="col-md-12">
                      <label for="validationCustomUsername">Email</label>
                      <input formControlName="email" type="email" class="form-control" id="validationCustomUsername"
                          placeholder="Email" aria-describedby="inputGroupPrepend">
                    </div>
                  </div>
                  <div class="modal-footer clearfix">
                    <button type="submit" class="btn btn-lg submitbutton">Recover Password</button>
                  </div>
                </form>
              </div>
              <div class="divider"></div>
              <h6 class="mb-0 link"><a routerLink="/pages/login-boxed" class="text-primary">Already have an account?</a></h6>
              <h6 class="mb-0 float-right"><a routerLink="/pages/signup" class="text-primary">Need an account?</a></h6>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  