<style>
  .table-responsive{
    padding:1%;
  }
  .submitbutton{
    background-color: #1f4988;border: #1f4988;color:white;
  }
  .deletebutton{
    margin-left:1%;
  }
</style>

<div class="main-card mb-3 card termscondition">
  <div class="card-header">Study Details
  </div>
  <div class="table-responsive">
    <table class="align-middle mb-0 table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Study Name</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><a routerLink=""></a></td>
          <td class="text-center">
            <button class="btn submitbutton" title="Edit"><i class="lnr lnr-pencil"></i></button>
            <button class="btn-icon btn-icon-only btn btn-outline-danger deletebutton" title="Delete"><i
              class="pe-7s-trash btn-icon-wrapper"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  
  