
<style>
  .study{
    display: block;height: 720px;overflow-y: scroll;padding:1%;
  }
  .submitbutton{
    background-color: #1f4988;border: #1f4988;color:white;
  }
  .termscondition{
    margin:auto;
  }
  .backbutton{
    margin:auto;font-size: 14px;margin-bottom:1%;
  }
  .adduser{
    background-color: #1f4988;border: #1f4988;color:white;float:right;margin-bottom:1%;
  }
  .faicons{
    font-size: 15px;
  }
  .rejecteduser{
    margin-left:2%;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <button class="btn adduser" (click)="openLarge(list)">Add User</button>
      <button class="btn btn-lg bg-white backbutton" title="Back" routerLink="/studyaudience/{{study_id}}">
        <i class="fa fa-arrow-left"></i>
      </button>
            
      <div class="main-card mb-3 card termscondition">
        <div class="card-header">Black Listed User
          <div class="btn-actions-pane-right"></div>
        </div>
        <div class="table-responsive study">
          <table class="align-middle mb-0 table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th class="text-center">Research Worker Id</th>
              <th class="text-center">Study Name</th>
              <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let list of blacklistuser; let i=index;">
              <td class="text-center">{{ list?.research_worker_id }}</td>
              <td class="text-center">{{ study.name }}</td>
              <td class="text-center">
                <button class="border-0 btn-transition btn btn-outline-success" title="Whitelist user" (click)="acceptBlackListUser(list.id);"><fa name="check" class="faicons"></fa></button>
                <button class="border-0 btn-transition btn btn-outline-danger rejecteduser" title="Reject user" (click)="openLarge(blacklistuser)"><fa name="trash" class="faicons"></fa></button>
              </td>

              <!-- delete modal -->
                <ng-template #blacklistuser let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title">Delete User</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button> 
                  </div>
                    <div class="modal-body"> 
                      <div class="col-md-12 mb-3 form-group">
                        <h4>Sure! You want to delete User?</h4>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn submitbutton" (click)="c('Close click')">No</button>
                      <button type="submit" class="btn submitbutton" (click)="rejectBlackListUser(list.id);">Yes</button>
                    </div>
                </ng-template>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- blacklist modal -->
  <ng-template #list let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Black List</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="this.blacklist" (validSubmit)="blackList()" class="needs-validation" novalidate>
      <div class="modal-body"> 
        <div class="col-md-12 mb-3 form-group">
            <label for="validationCustom01">Researcher Worker Id</label>
          <input formControlName="research_worker_id" type="text" title="You can add multiple participant ids comma separated" class="form-control" id="validationCustom01" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn submitbutton" (click)="c('Close click')">Cancel</button>
        <button type="submit" class="btn submitbutton">Submit</button>
      </div>
    </form>
  </ng-template>
